{% extends "layout.html" %}

{% block content %}

	<div class="row">
		<div class="span3"><img class="img-polaroid thumb"></div>
		<div class="span3"><img class="img-polaroid thumb"></div>
		<div class="span3"><img class="img-polaroid thumb"></div>
		<div class="span3"><img class="img-polaroid thumb"></div>
		<div class="span3"><img class="img-polaroid thumb"></div>
		<div class="span3"><img class="img-polaroid thumb"></div>
		<div class="span3"><img class="img-polaroid thumb"></div>
		<div class="span3"><img class="img-polaroid thumb"></div>
	</div>

{% endblock %}