<!doctype html>
<html lang="en" ng-app="Beader" id="ng-app">
    <head>
        <title ng-bind-template="Beader {{title ? ' | ' + title : ''}}">Beader</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
<html>
    <head>
        <title>Beader</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />w
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="pull-left" href="/"><img src="/images/logo.png"></a>
                    <ul class="nav pull-right">
                        <li><a href="/">Pattern Gallery</a></li>
                        <li><a href="/create">Design a Pattern</a></li>
                        <li ng-controller="AuthCtrl" id="login-item" class="dropdown">
                            <a ng-if="!user" class="dropdown-toggle" href="#" data-toggle="dropdown">Login</a>
                            <a ng-if="user" class="dropdown-toggle" href="#" data-toggle="dropdown">{{user.displayName}}</a>
                            <div id="login" class="dropdown-menu">
                                <a ng-if="!user" ng-click="googleLogin()" href="" class="btn">Login with Google</a>
                                <a ng-if="user" ng-click="googleLogout()" href="" class="btn">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <article ng-view class="container"></article>

        <script src="/js/main.js"></script>
    </body>
</html>