@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

$mobileWidth: 640px;

body {
  margin: 0;
  padding: 0;
  background: #E8EDF5;
  color: #202121;
  font-family: 'Noto Sans', sans-serif;
}

*, input {
  box-sizing: border-box;
}

.app-content {
  a, a:active, a:visited {
    color: #202121;
    font-size: 13px;
  }
}

.navbar {
  position: relative;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(90deg, #5A3BDA 0%, #936DEF 100%);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.18);
  padding: 0 25px;

  .logo {
    float: left;
    margin-right: 25px;
    margin-top: 13px;
  }

  a {
    opacity: 0.55;
    float: left;
    line-height: 50px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      opacity: 1;
    }
  }

  .menu-left {
    float: left;
  }

  .menu-right {
    float: right;
  }

  .welcome {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    margin-right: 20px;
    line-height: 50px;
  }

  button {
    border: 0;
    outline: none;
    border-radius: 4px;
    background: #5A3BDA;
    line-height: 30px;
    padding: 0 15px;
    border: 0;
    outline: none;
    margin-top: 10px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(#000, 0.55);
    cursor: hand;
    cursor: pointer;

    &:hover {
      background: lighten(#5A3BDA, 10%);
    }
  }

  input[type=text] {
    border-radius: 4px;
    background: rgba(#fff, 0.1);
    line-height: 30px;
    padding: 0 15px;
    border: 0;
    outline: none;
    margin-top: 10px;
    color: #fff;
    width: 200px;
    float: left;

    &, &::placeholder {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
    }

    &::placeholder {
      color: rgba(#fff, 0.55);
    }

    &:focus {
      &, &::placeholder {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .navbar {
    a.new-pattern {
      display: none /* HACK: Hide pattern editor on mobile */;
    }
  }
}

.pattern-tiles-container {
  margin: 10px auto;
  width: 900px;

  .pattern-tile {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
  }
}

.pattern-tiles-container-small {
  width: 720px;
  margin: 0 auto;
  text-align: center;

  .pattern-tile {
    float: none;
    display: inline-block;
  }
}

.pattern-tiles-container-header {
  font-size: 22px;
}

.pattern-tile {
  width: 170px;
  height: 230px;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;

  img {
    width: 150px;
    height: 150px;
  }
}

a.pattern-tile {
  transition: transform 0.15s;

  &:hover {
    transform: scale(1.025);
  }
}

.pattern-tile-full {
  width: 720px;
  height: 720px;
  margin: 20px auto;

  img {
    width: 700px;
    height: 700px;
  }
}

.pattern-tile-small {
  width: 120px;
  height: 120px;

  img {
    width: 100px;
    height: 100px;
  }
}

.pattern-tile-meta {
  height: 47px;
}

.pattern-tile-name {
  font-size: 13px;
  margin-top: 5px;
  font-weight: 600;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}

.pattern-tile-user {
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  max-height: 15px;
  overflow: hidden;
  margin-bottom: 5px;
}

.pattern-tile-date {
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
  max-height: 15px;
  overflow: hidden;
  color: rgba(#000, 0.4);
  text-transform: uppercase;
  margin-bottom: 5px;
}

a:hover .pattern-tile-name {
  color: #5A3BDA;
}

@media screen and (max-width: $mobileWidth) {
  .pattern-tiles-container {
    width: 100%;
    margin-left: 10px;
  }

  .pattern-tile {
    width: calc(50% - 15px);
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .pattern-tile-full {
    width: calc(100% - 20px);
  }

  .pattern-tiles-container-small {
    .pattern-tile {
      width: 100px;
    }
  }
}

.tools {
  background: #322178;
  width: 100%;
  height: 60px;
  padding: 10px 25px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);

  .right {
    float: right;
  }

  .label {
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    color: rgba(#fff, 0.55);
    line-height: 40px;
    margin: 0 10px;
    float: left;
  }

  input {
    border: 1px solid rgba(#fff, 0.55);
    border-radius: 3px;
    height: 42px;
    float: left;
    padding: 13px 8px;
    box-shadow: none;
    background: #fff;
    -webkit-appearance: none;
    font-size: 11px;
    line-height: 14px;
    margin-left: 10px;
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }

  .select {
    border: 1px solid rgba(#fff, 0.55);
    width: 50px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff url(./images/arrowdown.gif) no-repeat 90% 50%;
    float: left;

    select {
      padding: 13px 8px;
      width: 50px;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      font-size: 11px;
      line-height: 14px;
    }

    select:focus {
      outline: none;
    }
  }

  .button-group {
    margin-right: 10px;
    float: left;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid rgba(#fff, 0.55);
    position: relative;

    button {
      float: left;
      width: 60px;
      height: 40px;
      outline: none;
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 1px solid rgba(#fff, 0.55);
      cursor: hand;
      cursor: pointer;

      &:last-child {
        border-right: 0;
      }

      &.active {
        background: #936DEF;
      }

    }
  }

  .save-button {
    display: inline-block;
    float: right;
    height: 42px;
    outline: none;
    background: #5A3BDA;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 42px;
    border: none;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background: lighten(#5A3BDA, 10%);
    }
  }
}

#palette-wrapper {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: -1px;
  width: 400px;
  height: 300px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.55);
  cursor: hand;
  cursor: pointer;
  display: none;

  &.show {
    display: block;
  }
}

#color {
  border-right: 0;
}

.show-overflow {
  overflow: visible !important;
}

.footer-navigation {
  display: block;
  width: 100%;
  float: none;
  clear: both;
  text-align: center;
  margin: 40px 0;
  padding-top: 40px;

  .footer-link {
    font-size: 17px;
    font-weight: 600;

    &:hover {
      color: #666;
    }

    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}

.pagination {
  .footer-link {
    &.previous:before {
      content: "\00AB";
    }

    &.next:after {
      content: " \00BB";
    }
  }
}

.grid-wrapper {
  display: block;
  margin: 0 auto;
  padding: 25px;
  border-radius: 2px;
  position: relative;
}

#grid {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 25px;
}

#preview {
  position: sticky;
  left: 25px;
  top: 25px;
  padding: 5px;
  background: transparent;
  border-radius: 3px;
}

.loading-indicator-wrapper {
  display: block;
  text-align: center;

  .loading-indicator {
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 30px 0;
    filter: hue-rotate(60deg);
  }

  img {
    width: 60px;
    height: 60px;
  }
}


@media screen and (max-width: 1024px) {
  #preview {
    display: none;
  }
}

.pattern-header {
  position: relative;
  width: 720px;
  margin: 20px auto;

  .pattern-header-name {
    font-size: 18px;
    font-weight: 900;
    color: rgba(#000, 0.9);
  }

  .pattern-header-user {
    font-size: 16px;
    color: rgba(#000, 0.6);
    text-decoration: none;
  }

  .pattern-header-date {
    margin-top: 4px;
    font-size: 14px;
    color: rgba(#000, 0.3);
    text-transform: uppercase;
    text-decoration: none;
  }

  .pattern-header-description:not(:empty) {
    font-size: 14px;
    margin-top: 10px;
  }

  .delete-button {
    font-size: 10px;
    font-weight: 600;
    background: #df2512;
    color: #fff;
    padding: 5px 20px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      background: lighten(#df2512, 20%);
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .pattern-header {
    width: 100%;
    margin: 20px 10px;
  }
}

.not-found {
  font-size: 24px;
  margin: 50px 0;
  color: #667777;
  text-align: center;
}

.footer-ads {
  display: block;
  width: 100%;
  height: 100px;
  margin: 20px 0;
}
