@import url('https://fonts.googleapis.com/css?family=Muli:900|Roboto:300,600,900');

body
	margin: 0
	padding: 0
	background: #ccc
	color: #202121
	font-family: 'Roboto', sans-serif

*, input
	box-sizing: border-box

a, a:active, a:visited
	color: #202121
	font-size: 13px

.navbar
	position: relative
	width: 100%
	height: 70px
	background: #fff
	border-bottom: 1px solid #aaa

	.logo
		font-size: 32px
		color: #00B7E6
		font-family: Muli, Sans-serif
		font-weight: 900
		letter-spacing: -1px
		background: -webkit-linear-gradient(#00D8D6, #00B7E6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center
		line-height: 70px

	.menu-left
		position: absolute
		left: 0
		top: 0

		a
			display: inline-block
			font-size: 18px
			line-height: 69px
			text-decoration: none
			text-transform: uppercase
			color: #333
			font-size: 18px
			font-weight: 600
			padding: 0 20px
			border-right: 1px solid #eee
			float: left

			&:hover
				background: lighten(#00B7E6, 80%)
				color: darken(#00B7E6, 20%)
				cursor: hand
				cursor: pointer

	.menu-right
		height: 30px
		position: absolute
		top: 0
		right: 0
		margin: 20px

		.label
			display: inline-block
			color: #ccc
			font-size: 12px
			font-weight: 300
			padding-right: 10px

		a
			display: inline-block
			color: #333
			font-size: 12px
			padding: 0 10px
			line-height: 28px
			border: 1px solid #ccc
			border-radius: 4px
			font-weight: 600
			text-transform: uppercase
			cursor: hand
			cursor: pointer

			&:hover
				background: lighten(#00B7E6, 80%)
				color: darken(#00B7E6, 20%)
				border-color: darken(#00B7E6, 20%)

.pattern-tiles-container
	margin-top: 10px
	margin-left: 10px

.pattern-tile
	width: 170px
	height: 230px
	padding: 10px
	margin-right: 10px
	margin-bottom: 10px
	background: #fff
	float: left
	border-radius: 2px
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
	text-decoration: none

	img
		width: 150px
		height: 150px

.pattern-tile-name
	font-size: 13px
	margin-top: 5px
	font-weight: 600
	line-height: 16px
	max-height: 32px
	overflow: hidden

.pattern-tile-user
	font-size: 12px
	font-weight: 300
	line-height: 15px
	max-height: 15px
	overflow: hidden
	margin: 5px 0

a:hover .pattern-tile-name
	color: darken(#00B7E6, 20%)

.tools
	background: #666
	width: 100%
	height: 60px
	padding: 10px
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3)
	border-bottom: 1px solid #ddd

	.right
		float: right

	.label
		display: inline-block
		font-size: 12px
		font-weight: 900
		color: #aaa
		line-height: 40px
		margin: 0 10px
		float: left

	input
		border: 1px solid #ccc
		border-radius: 3px
		height: 42px
		float: left
		padding: 13px 8px
		box-shadow: none
		background: #fff
		-webkit-appearance: none
		font-size: 14px
		line-height: 14px
		margin-left: 10px
		margin-right: 10px

		&:focus
			outline: none

	.select
		border: 1px solid #ccc
		width: 50px
		border-radius: 3px
		overflow: hidden
		background: #fff url(/images/arrowdown.gif) no-repeat 90% 50%
		float: left

		select
			padding: 13px 8px
			width: 50px
			border: none
			box-shadow: none
			background: transparent
			background-image: none
			-webkit-appearance: none
			font-size: 14px
			line-height: 14px

		select:focus
			outline: none

	.button-group
		margin-right: 10px
		float: left
		border-radius: 2px
		overflow: hidden
		border: 1px solid #fff
		position: relative

		button
			display: inline-block
			float: left
			width: 60px
			height: 40px
			outline: none
			border-top: 0
			border-left: 0
			border-bottom: 0
			border-right: 1px solid #fff

			&:last-child
				border-right: 0

			&.active
				background: #00B7E6

	.save-button
		display: inline-block
		float: right
		height: 42px
		outline: none
		background: #20e65c
		color: #fff
		font-size: 14px
		padding: 0 20px
		line-height: 42px
		border: none
		border-radius: 5px

		&:disabled
			opacity: 0.5

#palette-wrapper
	position: absolute
	z-index: 10
	top: 40px
	left: -1px
	width: 400px
	height: 300px
	background: #fff
	border: 1px solid #fff
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75)

	&.hidden
		display: none

#color
	border-right: 0

.color-wrapper:hover #palette-wrapper
	display: block

.show-overflow
	overflow: visible !important

.pagination
	display: block
	width: 100%
	float: none
	clear: both
	text-align: center
	margin: 10px 0

	.button
		font-size: 18px
		font-weight: 600

		&.previous:before
			content: "\00AB"

		&.next:after
			content: " \00BB"

		&:nth-child(2)
			margin-left: 10px

.grid-wrapper
	display: block
	margin: 20px auto
	padding: 10px
	border-radius: 2px

#grid
	display: block
	margin: 0 auto
