@import url('https://fonts.googleapis.com/css?family=Muli:900|Roboto:300,600,900');

body
	margin: 0
	padding: 0
	background: #ccc
	color: #202121
	font-family: 'Roboto', sans-serif

*
	box-sizing: border-box

a, a:active, a:visited
	color: #202121
	font-size: 13px

.navbar
	position: relative
	width: 100%
	height: 70px
	background: #fff
	border-bottom: 1px solid #aaa

	.logo
		font-size: 32px
		color: #00B7E6
		font-family: Muli, Sans-serif
		font-weight: 900
		letter-spacing: -1px
		background: -webkit-linear-gradient(#00D8D6, #00B7E6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center
		line-height: 70px

	.menu-left
		position: absolute
		left: 0
		top: 0

		a
			display: inline-block
			font-size: 18px
			line-height: 69px
			text-decoration: none
			text-transform: uppercase
			color: #333
			font-size: 18px
			font-weight: 600
			padding: 0 20px
			border-right: 1px solid #eee
			float: left

			&:hover
				background: lighten(#00B7E6, 80%)
				color: darken(#00B7E6, 20%)
				cursor: hand
				cursor: pointer

	.menu-right
		height: 30px
		position: absolute
		top: 0
		right: 0
		margin: 20px

		.label
			display: inline-block
			color: #ccc
			font-size: 12px
			font-weight: 300
			padding-right: 10px

		a
			display: inline-block
			color: #333
			font-size: 12px
			padding: 0 10px
			line-height: 28px
			border: 1px solid #ccc
			border-radius: 4px
			font-weight: 600
			text-transform: uppercase
			cursor: hand
			cursor: pointer

			&:hover
				background: lighten(#00B7E6, 80%)
				color: darken(#00B7E6, 20%)
				border-color: darken(#00B7E6, 20%)

.pattern-tiles-container
	margin-top: 10px
	margin-left: 10px

.pattern-tile
	width: 170px
	height: 230px
	padding: 10px
	margin-right: 10px
	margin-bottom: 10px
	background: #fff
	float: left
	border-radius: 2px
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
	text-decoration: none

	img
		width: 150px
		height: 150px

.pattern-tile-name
	font-size: 13px
	margin-top: 5px
	font-weight: 600
	line-height: 16px
	max-height: 32px
	overflow: hidden

.pattern-tile-user
	font-size: 12px
	font-weight: 300
	line-height: 15px
	max-height: 15px
	overflow: hidden
	margin: 5px 0

a:hover .pattern-tile-name
	color: darken(#00B7E6, 20%)

header .navbar-inner {
	height: 40px;
	background: #1d3966 url(../images/header.png);
	border-bottom: 1px solid #222244;

}

article.container {
	background: #fff;
	margin-top: 50px;
	padding: 10px;
	position: relative;
}

.navbar .nav > li {
	border-left: 1px solid #060d18;
}

.navbar .nav > li > a {
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	border-left: 1px solid #2d569a;
	font-size: 13px;
}

.navbar .nav > li > a:hover {
	color: #fff;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
	background: transparent;
	color: #fff;
}

.navbar .dropdown-menu {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 10px;
}

.navbar .dropdown-menu form {
	margin-bottom: 0;
}

.navbar .dropdown-menu input {
	height: 30px;
}

.navbar .dropdown-menu button {
	margin-top: 0;
}

.navbar .dropdown-menu .alert {
	margin-bottom: 10px;
	display: none;
}

#forgot-password {
	line-height: 30px;
}

#forgot-form {
	display: none;
}

/*
 * Index styles
 */

 .thumbs {

 }

 .thumbs a {
 	text-decoration: none;
 }

.thumb {
	display: inline-block;
	position: relative;
	width: 133px;
	height: 133px;
	margin: 10px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*
 *  Designer styles
 */

#palette-wrapper {
	position: relative;
	border: 1px solid #ccc;
	padding: 3px 1px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#palette {
}

#color-wrapper {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 3px;
	margin-bottom: 10px;
}

#palette,
#palette:active {
	cursor: hand;
	cursor: pointer;
}

#color {
	width: 132px;
	height: 64px;
}

#toolbar .btn-group {
	margin: 0 0 5px 0;
}

#meta {
	padding-bottom: 10px;

	select {
		margin: 0 10px;
	}

	input {
		margin-left: 10px;
		width: 369px;
	}
}


#save-button {
	width: 100%;
	margin-bottom: 10px;
}

#grid,
#grid:active {
	cursor: hand;
	cursor: pointer;
}

/*
 * Bootstrap overrides
 */


.alert {
 	margin-bottom: 0;
 }

 /*
  * Utility classes
  */

 .hidden {
 	display: none;
 }
